.services {
    background-color: #f7f7f7;
}
.services__more {
    background-color: #f7f7f7;
}

.services .row, .services__more .row {
    display: flex;
    justify-content: center;
}

.services__checkmark {
    width: 92%;
    display: block;
    margin-top: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
}

.services__descr div {
    font-size: 20px;
    font-family: 'Open Sans';
    margin-left: 18px;
}

.t-cell .t-valign_top {
    display: flex;
    align-items: center;
    width: 20%;
}
.d-flex {
    display: flex;
    margin-top: 30px;
}

.services__container {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    list-style: none;
}

.services__textwrapper {
    text-align: center;
    padding-left: 20px;
    width: 100%;
    border-bottom: 1px solid #000;
}