body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.container-ex {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 30px;
}

.t-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

.que__container {
    max-width: 100%;
    margin: 0 auto;
}

.tn-atom {
    background-color: #dfe1e3;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.green {
    background-color: #76b82a;
    height: 3px;
    opacity: 1;
    width: 88%;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.title {
    color: #252c35;
    font-size: 36px;
    font-family: 'Ubuntu', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.title-wh {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Ubuntu', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.subtitle {
    color: #252c35;
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-top: 12px;
}
.subtitle-wh {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-top: 12px;
    margin-bottom: 50px;
}

.vent__wrapper {
    position: relative;
    padding: 45px 45px;
    display: inline;
    float: left;
    margin-right: 20px;
    width: 100%;
    /* max-width: 1160px; */
    background: #485358;
}
.vent__icon {
    position: absolute;
    color: #c4c4c4;
    left: 11px;
    top: 6px;
    font-family: Arial;
    font-size: 114px;
    line-height: 1;
}
.vent__text {
    font-size: 28px;
    color: #fff;
}
.vent__author {
    margin-top: 10px;
    font-size: 22px;
    color: #fff;
}

.vent__filter {
    display: grid;
    grid-template-columns:  930px auto;
    grid-template-rows: auto auto;
    width: 100%;
    background: #485358;
    height: 520px;
    padding-top: 57px;
    padding-left: 180px;
    padding-bottom: 60px;
    margin-top: 217px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.sum {
    color: #fbfbfb;
    font-size: 110px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.sum__text {
    color: #fbfbfb;
    width: 500px;
    font-size: 30px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    background-position: center center;
    padding-top: 5%;
}

.pdl {
    margin-left: -12%;
    padding-left: 13%;
}

.vent__filter-block {
    display: flex;
}

.g__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    height: 524px;
    background: -webkit-linear-gradient(top, rgb(37, 44, 53), rgba(72, 83, 88, 0.7)), url('./g__gilter.jpg') center center/cover no-repeat;
}

.g__block {
    background: #fff;
    width: 100%;
    padding: 85px 60px;
}

.g__text {
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: #252c35;
    padding-top: 20px;
    padding-bottom: 20px;
}

.g__pic {
    height: 209px;
    background: -webkit-linear-gradient(top, rgb(37, 44, 53), rgba(72, 83, 88, 0.7)), url('./g__pic.jpg') center center/cover no-repeat;;
}

.g__filter-green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 105px;
    padding-bottom: 105px;
    height: 524px;
    background-color: #76b32a;
}

.g__title {
    font-size: 42px;
    font-weight: 700;
    color: #f3f2f1;
}

.g__subtitle {
    margin-top: 20px;
    font-size: 20px;
    color: #f3f2f1;
}

.g__btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: #f3f2f1;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    
}

.g__btn:hover {
    background-color: transparent;
}

.g__footer {
    padding-top: 150px;
    padding-bottom: 160px;
    height: 500px;
    background: -webkit-linear-gradient(top, rgb(37, 44, 53), rgba(72, 83, 88, 0.7)), url('./g__footer.jpg') center center/cover no-repeat;;
}