.decoration {
    padding: 8rem 0;
    background-color: #f7f7f7;
}

.decoration__head {
    font-size: 30px;
    margin-bottom: 8rem;
    text-align: center;
    text-transform: uppercase;
}
.decoration__head-sub {
    margin-top: 2rem;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 17rem;
    height: 0.2rem;
    background: url('../../img/line.png') 0 0 no-repeat;
}