.goTopHidden {
    display: none;
}


.goTop {
    display: block;
}

.goTop__text {
    position: fixed;
    background: transparent;
    box-shadow: 2px 2px 5px #198754;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    bottom: 10%;
    left: 5%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}

.goTop__arrow {
    width: 15px;
    height: 5px;
    margin: 0 auto;
    transform: scale(2.5);
    color: #198754;
}

.goTop__svg {
    width: 100%;
    height: 100%;
    fill: #198754;
    color-interpolation-filters: #198754;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}