.goTopHidden {
    display: none;
}


.goTop {
    display: block;
}

.goTop__text {
    position: fixed;
    background: transparent;
    box-shadow: 2px 2px 5px #198754;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    bottom: 10%;
    left: 5%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.goTop__arrow {
    width: 15px;
    height: 5px;
    margin: 0 auto;
    transform: scale(2.5);
    color: #198754;
}