.calculator {
  background-color: #f7f7f7;
  padding: 90px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calculator__title {
  font-size: 32px;
  font-weight: bold;
  color: #252c35;
  margin-bottom: 10px;
}

.calculator__subtitle {
  font-size: 24px;
  color: #252c35;
  margin-bottom: 20px;
}

.calculator__btn {
  background-color: #76b82a;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.calculator__btn:hover {
  background-color: #679f23;
}

.popup_calc {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup_calc_close {
  position: absolute;
  top: 12px;
  right: 27px;
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
  color: #252c35;
}

.popup_calc_content {
  padding: 20px;
}

.t862__quiz-description-block {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.t-input-group {
  margin-bottom: 20px;
}

.t-input-title {
  font-size: 18px;
  font-weight: bold;
  color: #252c35;
  margin-bottom: 10px;
}

.t-checkbox {
    display: contents;
}

.t-checkboxes__wrapper {
  list-style-type: none;
  padding: 0;
}


.t-checkboxes__item {
  font-size: 14px;
  margin-bottom: 10px;
}

.t-checkbox__controls {
  display: flex;
  align-items: center;
}

.t-checkbox__indicator {
  width: 20px !important;
  height: 20px;
  border: 2px solid #76b82a;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
}

.t-checkbox__controls input[type="checkbox"]:checked + .t-checkbox__indicator::after {
  content: '';
  position: absolute;
  width: 20px !important;
  height: 10px;
  background-color: #76b82a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.d-btn {
  margin-top: 20px;
  text-align: center;
}

.d-btn button {
  background-color: #76b82a;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.d-btn button:hover {
  background-color: #679f23;
}

.t-input-block input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.t-input-block input[type="range"]:hover {
  opacity: 1;
}

.t-input-block input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #76b82a;
  cursor: pointer;
  border-radius: 50%;
}

.t-input-block input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #76b82a;
  cursor: pointer;
  border-radius: 50%;
}

.result {
  background-color: #e9ffe9;
  border: 2px solid #76b82a;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #252c35;
}

.result h4 {
  font-size: 20px;
  font-weight: bold;
  color: #252c35;
  margin-bottom: 10px;
}

.result p {
  font-size: 16px;
}