.calculator {
    background: #485358;
    padding: 6rem 0;
}

.calculator__title {
    color: #fafafa;
    font-size: 36px;
    font-family: 'Ubuntu',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 700;
    width: 700px;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 10px;
}

.calculator__subtitle {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 10px;
}

.calculator__btn {
    color: #f3f2f1;
    width: 40%;
    font-size: 20px;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.6;
    font-weight: 700;
    padding: 1.2rem 1.2rem;
    text-transform: uppercase;
    border-width: 1px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #198754;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.calculator__btn-2 {
    color: #f3f2f1;
    width: 100%;
    height: 64px;
    font-size: 20px;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-width: 1px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #198754;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.calculator__btn:hover {
    color: #198754;
    background-color: #f8f9fa;
}

.calculator__descr {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.calculator__text {
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.calculator__block {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    /* Автоматическое размещение в колонку */
    grid-auto-flow: column;

}
.item3 {
    grid-row: span 2;
    }