.subTitle {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.subTitle__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subTitle__logo {
    max-width: 300px;
    width: 300px;
    min-width: 300px;
    height: auto;
    text-decoration: none;
}

.subTitle__logo-img {
    border-radius: 7px;
    display: block;
    background: #198754;
    border-color: #198754;
}

.subTitle__logo div {
    font-family: 'Ubuntu', Arial,sans-serif;
    margin-top: 10px;
}


.subTitle__descr {
    font-size: 16px;
    text-align: center;
    color: #000;
}

.subTitle__wrapper {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.subTitle__wrapper a {
    text-decoration: none;
    color: #000;
}

.subTitle__wrapper-phone-num {
    display: flex;
    color: #000
}

.subTitle__logo div {
    text-decoration: none;
    color: #000;
}

.subTitle__wrapper .nav-item {
    display: flex;
    justify-content: space-around;
    color: #000
}

.subTitle__btn {
    width: 160px;
}

.subTitle__btn:hover {
    color: #198754;
    background-color: #f8f9fa;
}