.gtasks {
    padding-top: 105px;
    padding-bottom: 105px;
}

.gtasks__flex {
    display: flex;
    gap: 50px;
    margin-top: 60px;
    justify-content: flex-start;
    align-items: center;
}


.gtasks__title {
    font-size: 42px;
    font-weight: 700;
}

.gtasks__subtitle {
    font-size: 18px;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 400;
    color: #252c35;
    line-height: 1.5;
    margin-top: 20px;
}

.gtasks__line {
    margin-top: 14px;
    margin-bottom: 14px;
    border: 0;
    border-top: 3px solid #252c35;
    margin-right: 20px;
    border-color: #76b82a;
    border-top-width: 3px;
}