.main {
    background: -webkit-linear-gradient(top, rgb(37, 44, 53), rgba(72, 83, 88, 0.7)), url('./bg/bg_calculator.jpg') center center/cover no-repeat;
    height: 535px;
}

.main__top {
    margin-top: 4%;
}

.main .container {
    display: flex;
}

.main__shadow {
    position: absolute;
    width: 100%;
    height: 535px;
    z-index: -12;
}

.main__text {
    text-align: center;
    font-size: 42px;
    color: #ffffff;
}

.main__wrapper {
    display: flex;
    margin-top: 60px;
}

.main_features_block {
    position: relative;
    color: #ffffff;
    text-align: center;
}
.main_features_block p {
    position: absolute;
    top: 75px;
    left: 20px;
}

.main__wrapper .main__reg {
    display: flex;
    justify-content: center;
}

.main__btn {
    display: block;
    margin: 0 auto;
    width: 16.2rem;
    height: 3.2rem;
}
.main__btn div {
    margin-top: -7%;
}
.main__form {
    display: flex;
    justify-content: center;
}

.modal-dialog {
    margin-top: -9%;
}

.main__btn:hover {
    color: #198754;
    background-color: #f8f9fa;
}

.mb-444 {
    float: left;
}

.modales.show {
    height: 400px;
}

.main__modal-title {
    text-align: center;
}
.main__input {
    height: 2.4rem;
    padding: 0;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.modal-content {
    padding: 15px 15px;
    background: antiquewhite;
    border-radius: 12px;
}

.form_notice {
    font-size: 0.6rem;
    text-align: center;
    color: #666;
}