.pmain {
    background: -webkit-linear-gradient(top, rgb(37, 44, 53), rgba(72, 83, 88, 0.7)), url('./pmain.jpg') center center/cover no-repeat;
    height: 465px;
}

.pmain__wrapper {
    display: flex;
    padding-top: 42px;
    padding-bottom: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.pmain__wrapper strong {
    margin-top: 60px;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
}

.pmain__text {
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 20px;
}