.learn {
    padding-top: 105px;
    padding-bottom: 105px;
}

.learn__titled {
    font-weight: 700;
    font-size: 42px;
}

.learn__wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.learn__block {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 30px;
}

.learn__item {
    padding: 10% 30px 40px 20%;
    background-color: rgb(72, 83, 88);
    height: 170px;
    border-radius: 8px;
}

.learn__title {
    font-size: 18px;
    line-height: 1.35;
    Color: #fff;
}

.learn__btn {
    margin-top: 20px;

}
